<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1251">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
span.apple-converted-space
	{mso-style-name:apple-converted-space;}
@@page WordSection1
	{size:595.3pt 841.9pt;
	margin:42.55pt 42.55pt 42.55pt 3.0cm;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=AZ-LATIN link=blue vlink="#954F72">

<div class=WordSection1>

<p class=MsoTableColorfulListAccent1CxSpFirst style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle align=center style='margin-left:
0cm;text-align:center;text-indent:1.0cm'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>Sat&#305;nalan T&#601;&#351;kilatlar&#305;n
t&#601;l&#601;batlar&#305;n&#305;n daxil edilm&#601;si </span></b></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>T&#601;&#351;kilat&#305;n istifad&#601;&ccedil;isi
ona veril&#601;n istifad&#601;&ccedil;i ad&#305; v&#601; &#351;ifr&#601; vasit&#601;sil&#601;
portala daxil olur v&#601; ekranda t&#601;&#351;kilat&#305;n &#351;&#601;xsi
kabineti &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=490 height=31
src="~/Content/Telebat2.files/image005.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&#350;&#601;xsi kabinetd&#601; &#601;ks
olunan menyular&#305;n i&#351; prinsipi a&#351;a&#287;&#305;da &#601;trafl&#305;
&#351;&#601;kild&#601; izah edilmi&#351;dir.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'> <img width=77 height=18
src="~/Content/Telebat2.files/image006.jpg"> d&uuml;ym&#601;sini basd&#305;qda
a&#351;a&#287;&#305;dak&#305; forma &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:1.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:1.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=528 height=470
src="~/Content/Telebat2.files/image007.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:1.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:1.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>T&#601;&#351;kilat m&#601;hsul t&#601;l&#601;bat&#305;n&#305;
daxil ed&#601;rk&#601;n &#601;vv&#601;lc&#601; t&#601;l&#601;bat&#305;n
g&ouml;nd&#601;ril&#601;c&#601;yi &uuml;nvan&#305; se&ccedil;ir. Daha
do&#287;rusu tabeliyind&#601; olan t&#601;&#351;kilat&#305;n ad&#305;n&#305;
siyah&#305;dan se&ccedil;ir.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=311 height=134
src="~/Content/Telebat2.files/image008.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:35.45pt'><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:35.45pt'><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>T&#601;l&#601;b edil&#601;c&#601;k
m&#601;hsulu siyah&#305;dan se&ccedil;irik v&#601; &ouml;l&ccedil;&uuml;
vahidini t&#601;yin edirik.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:35.45pt'><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=498 height=213
src="~/Content/Telebat2.files/image009.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>H&#601;r bir m&#601;hsul &uuml;zr&#601;
ayr&#305;ca t&#601;chizat t&#601;qvim plan&#305; t&#601;rtib edilir. </span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>Daxil edil&#601;c&#601;k m&#601;hsulun
g&#601;l&#601;c&#601;kd&#601; &ccedil;atd&#305;r&#305;lma qrafiki t&#601;yin
edilir. Bu qrafik  g&uuml;nd&#601;lik, h&#601;ft&#601;lik, ayl&#305;q,
r&uuml;bl&uuml;k v&#601; illik t&#601;yin edil&#601; bil&#601;r. Bu qrafikd&#601;n
 birini se&ccedil;dikd&#601;n sonra aylar se&ccedil;ilir. H&#601;r bir
se&ccedil;ilmi&#351; aylar &uuml;zr&#601; ayr&#305;-ayr&#305;l&#305;qda m&#601;hsulun
h&#601;cmi, catd&#305;r&#305;lma g&uuml;n&uuml; v&#601; saat&#305; t&#601;yin
edilir.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:72.0pt;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=547 height=351
src="~/Content/Telebat2.files/image010.png"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:72.0pt;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>B&uuml;t&uuml;n parametrl&#601;r
daxil edildikd&#601;n sonra sifari&#351;i <img width=83 height=19
src="~/Content/Telebat2.files/image011.png">  d&uuml;ym&#601;si vasit&#601;sil&#601; &#601;lav&#601;
edirik.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>T&#601;&#351;kilat &uuml;zr&#601;
b&uuml;t&uuml;n m&#601;hsullar&#305; daxil etdikd&#601;n sonra <img width=53
height=21 src="~/Content/Telebat2.files/image012.png"> d&uuml;ym&#601;si vasit&#601;sil&#601;
daxil edilmi&#351; b&uuml;t&uuml;n m&#601;hsullar&#305;n siyah&#305;s&#305; <img
width=114 height=18 src="~/Content/Telebat2.files/image013.png"> pdf format&#305;nda
komp&uuml;ter&#601; y&uuml;kl&#601;nilir. H&#601;min s&#601;n&#601;d &ccedil;ap
edil&#601;r&#601;k r&#601;hb&#601;rlik t&#601;r&#601;find&#601;n t&#601;sdiql&#601;nir
v&#601; skan edil&#601;r&#601;k h&#601;min s&#601;n&#601;d portal vasit&#601;sil&#601;
sistem&#601; daxil edilir.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=529 height=61
src="~/Content/Telebat2.files/image014.png"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:13.35pt'><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>&#304;mzalanm&#305;&#351;
elektron s&#601;n&#601;d sistem&#601; daxil edildikd&#601;n sonra t&#601;l&#601;batlar
<img width=176 height=19 src="~/Content/Telebat2.files/image015.png"> d&uuml;ym&#601;si
vasit&#601;sil&#601; K&#601;nd T&#601;s&#601;rr&uuml;fat&#305; Nazirliyin&#601;
g&ouml;nd&#601;rilir. </span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:13.35pt'><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>G&ouml;nd&#601;ril&#601;n
t&#601;l&#601;batlar K&#601;nd T&#601;s&#601;rr&uuml;fat&#305; Nazirliyi t&#601;r&#601;find&#601;n
t&#601;sdiq olunana kimi <b>T&#601;l&#601;batlar&#305;m</b> alt menyusunda yerl&#601;&#351;ir.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:13.35pt'><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>&#304;stifad&#601;&ccedil;i
t&#601;l&#601;batlar&#305; yerl&#601;&#351;dirdik&#601;n sonra &#351;&#601;xsi
kabinet&#601; qay&#305;tmaq &uuml;&ccedil;&uuml;n a&#351;a&#287;&#305;dak&#305;
&#351;&#601;kild&#601;n g&ouml;r&uuml;nd&uuml;y&uuml; kimi <b>&#350;&#601;xsi S&#601;hif&#601;
</b> alt menyusuna basnal&#305;d&#305;r. </span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:13.35pt'><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=500 height=90
src="~/Content/Telebat2.files/image016.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=51 height=20
src="~/Content/Telebat2.files/image017.jpg">menyusuna daxil olark&#601;n
a&#351;a&#287;&#305;dak&#305; alt menyu &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=114 height=184
src="~/Content/Telebat2.files/image018.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>2.1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>T&#601;sdiql&#601;n&#601;n T&#601;l&#601;batlar&#305;m</span></b><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>
alt menyusunda K&#601;nd T&#601;s&#601;rr&uuml;fat&#305; Nazirliyin&#601; g&ouml;nd&#601;rilmi&#351;
v&#601; t&#601;sdiq edilmi&#351; t&#601;l&#601;batlar&#305;n siyah&#305;s&#305;
&#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=500 height=154
src="~/Content/Telebat2.files/image019.png"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>2.2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>T&#601;l&#601;batlar </span></b><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'> alt
menyusunda K&#601;nd T&#601;s&#601;rr&uuml;fat&#305; Nazirliyin&#601; g&ouml;nd&#601;rilmi&#351;
v&#601; t&#601;sdiqi g&ouml;zl&#601;nil&#601;n  t&#601;l&#601;batlar&#305;n
siyah&#305;s&#305; &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=494 height=271
src="~/Content/Telebat2.files/image020.png"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>2.3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>Vaxt&#305; Bitmi&#351; T&#601;l&#601;batlar&#305;m </span></b><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'> alt
menyusunda sifari&#351; edilmi&#351; m&#601;hsullar&#305;n al&#305;nma
m&uuml;dd&#601;ti bitmi&#351; t&#601;l&#601;batlar&#305;n siyah&#305;s&#305; &#601;ks
olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>2.4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>Yarars&#305;z say&#305;lan T&#601;l&#601;batlar&#305;m
</span></b><span style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'> alt
menyusunda K&#601;nd T&#601;s&#601;rr&uuml;fat&#305; Nazirliyi t&#601;r&#601;find&#601;n
m&uuml;&#601;yy&#601;n s&#601;b&#601;bl&#601;r&#601; g&ouml;r&#601; imtina
edilmi&#351; t&#601;l&#601;batlar&#305;n siyah&#305;s&#305; &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=501 height=181
src="~/Content/Telebat2.files/image021.png"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>Bu alt menyuda olan sifari&#351;&#601;
a&#351;a&#287;&#305;dak&#305; d&uuml;ym&#601; vasit&#601;sil&#601; d&uuml;z&#601;li&#351;
etm&#601;k m&uuml;mk&uuml;nd&uuml;r.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=163 height=91
src="~/Content/Telebat2.files/image022.png"> </span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>D&uuml;z&#601;li&#351; etdikd&#601;n
sonra h&#601;min t&#601;l&#601;batlar T&#601;l&#601;batlar&#305;m<b> </b>alt
menyusunda &#601;ks olunacaq v&#601; K&#601;nd T&#601;s&#601;rr&uuml;fat&#305;
Nazirliyi t&#601;r&#601;find&#601;n t&#601;sdiqini g&ouml;zl&#601;y&#601;c&#601;k.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>2.5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>K&#601;nd T&#601;s&#601;rr&uuml;fat&#305; Nazirliyin&#601;
G&ouml;nd&#601;rilm&#601;mi&#351; T&#601;l&#601;batlar&#305;m </span></b><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'> alt
menyusunda portala daxil edilmi&#351;, amma t&#601;sdiq &uuml;&ccedil;&uuml;n K&#601;nd
T&#601;s&#601;rr&uuml;fat&#305; Nazirliyin&#601; g&ouml;nd&#601;rilm&#601;mi&#351;
t&#601;l&#601;batlar&#305;n siyah&#305;s&#305; &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=193 height=19
src="~/Content/Telebat2.files/image023.jpg">  menyusuna daxil olark&#601;n
a&#351;a&#287;&#305;dak&#305; alt menyu &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=142 height=139
src="~/Content/Telebat2.files/image024.png"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify;text-indent:-18.0pt'><b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman",serif'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></b><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=74 height=22
src="~/Content/Telebat2.files/image025.png"> menyusunda h&#601;min t&#601;&#351;kilata
daxil olan alt t&#601;&#351;kilatlar&#305;n siyah&#305;s&#305; &#601;ks olunur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:46.35pt;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=520 height=82
src="~/Content/Telebat2.files/image026.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&#399;g&#601;r K&#601;nd T&#601;s&#601;rr&uuml;fat&#305;
Nazirliyi t&#601;r&#601;find&#601;n siz&#601; alt t&#601;&#351;kilat yaratmaq s&#601;lahiyy&#601;ti
veribs&#601;, onda <img width=65 height=22 src="~/Content/Telebat2.files/image027.jpg"> d&uuml;ym&#601;sini
basmaqla alt t&#601;&#351;kilat yaratmaq olar.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>H&#601;r bir alt t&#601;&#351;kilat&#305;n
qar&#351;&#305;s&#305;nda olan d&uuml;ym&#601;l&#601;rin f&#601;aliyy&#601;ti
a&#351;a&#287;&#305;da &#601;ks olunmu&#351;dur.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'><img width=19 height=18
src="~/Content/Telebat2.files/image028.jpg" alt="*"> d&uuml;ym&#601;si vasit&#601;sil&#601;
&uuml;z&#601;rind&#601; durulan alt t&#601;&#351;kilat&#305;n haqq&#305;nda
q&#305;sa m&#601;lumat almaq m&uuml;mk&uuml;nd&uuml;r</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'><img width=22 height=18
src="~/Content/Telebat2.files/image029.jpg" alt="*"> d&uuml;ym&#305;si vasit&#601;sil&#601;
&uuml;z&#601;rind&#601; durulan alt t&#601;&#351;kilat&#305;n m&#601;lumatlar&#305;n&#305;
redakt&#601; etm&#601;k m&uuml;mk&uuml;nd&uuml;r ( Bunun &uuml;&ccedil;&uuml;n K&#601;nd
T&#601;s&#601;rr&uuml;fat&#305; Nazirliyi t&#601;r&#601;find&#601;n s&#601;lahiyy&#601;t
verilm&#601;lidir).</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'><img width=24 height=18
src="~/Content/Telebat2.files/image030.jpg" alt="*"> d&uuml;ym&#305;si vasit&#601;sil&#601;
&uuml;z&#601;rind&#601; durulan alt t&#601;&#351;kilat&#305; l&#601;&#287;v etm&#601;k
m&uuml;mk&uuml;nd&uuml;r ( Bunun &uuml;&ccedil;&uuml;n K&#601;nd T&#601;s&#601;rr&uuml;fat&#305;
Nazirliyi t&#601;r&#601;find&#601;n s&#601;lahiyy&#601;t verilm&#601;lidir).</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'><img width=23 height=18
src="~/Content/Telebat2.files/image031.jpg" alt="*"> d&uuml;ym&#601;si vasit&#601;sil&#601;
&uuml;z&#601;rind&#601; durulan alt t&#601;&#351;kilat&#305;n alt&#305;nda da
yeni bir t&#601;&#351;kilat yaratmaq m&uuml;mk&uuml;nd&uuml;r ( Bunun
&uuml;&ccedil;&uuml;n K&#601;nd T&#601;s&#601;rr&uuml;fat&#305; Nazirliyi t&#601;r&#601;find&#601;n
s&#601;lahiyy&#601;t verilm&#601;lidir).</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>Yeni alt t&#601;&#351;kilat&#305;n
yarad&#305;lmas&#305; v&#601; redakt&#601;si zaman&#305;
a&#351;a&#287;&#305;dak&#305; xanalar doldurulmal&#305;d&#305;r.</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:0cm;
text-align:justify;text-indent:1.0cm'><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoTableColorfulListAccent1CxSpMiddle style='margin-left:2.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'><img width=493 height=561
src="~/Content/Telebat2.files/image032.jpg"></span></p>

<p class=MsoTableColorfulListAccent1CxSpLast style='margin-left:1.0cm;
text-align:justify'><span style='font-size:12.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

</div>

</body>

</html>
