
@{
    ViewBag.Title = "Index3";
}



<h2>KTN-nin regional idarələri üçün necə şəxsi kabinet yarada bilərəm?</h2>
 KTN-nin regional idarələri üçün yardılan şəxsi kabinetlərdə  2 rejim olur.


<p style="margin-top:30px"><b>1. Potensial istehsalçı yarat</b></p>
<p><b>2. Təkliflər</b></p>
<hr style="border-width:2px; border-color:red; width:auto; height:20px" />
<p style="font:x-large"><b>1. Potensial İstehsalçı yarat rejimi</b></p>
<p>KTN-nin regional idarələri təmsil olunduğu rayon üzrə potensial istehsalçıların siyahısını hazırlayırlar və elektron portala daxil edirlər. Potensial istehsalçıların elektron portala daxil edilməsi aşağıdakı kimi həyata keçirilir.</p>

<p>•	Potensial işteshalçını portala daxil etmək üçün potensial istehsalçının şəxsiyəət vəsiqəsinin  üzərində olan  FİN kod lazım olur.</p>
<p>•	Regional KTN istifadəçisi potensial istehsalçının şəxsiyyət vəsiqəsinin üzərində olan FİN kod daxil edərək İAMAS-a qoşulur və ordan potensial istehsalçının şəxsiyyət vəsiqəsinin üzərində olan məlumatları (S.A.A., qeydiyyatda olduğu ünvan, doğum tarixi, cinsi) avtomatik olaraq xanalara daxil edir. Bu bizə potensial istehsalçı haqqında olan məlumatalrı dəqiq və səhvsiz daxil etməyə imkan verir.</p>
<p>•	Regional KTN istifadəçisi Potensial istehsalçının istehsal istehsal etdiyi (və ya yetişdirdiyi) məhsulu siyahıdan seçir.</p>
<p>•	Regional KTN istifadəçisi Potensial istehsalçının bu məhsuldan nə qədər isteshal edə biləcəyini daxil edir.</p>
<p>•	Regional KTN istifadəçisi Potensial istehsalçının istehsal istehsal etdiyi (və ya yetişdirdiyi) məhsulun region olaraq harda yerləşdiyini daxil edir.</p>
<p>Potensial istehsalçı üçün eyni anda bir neçə məhsul daxil etmək olar.</p>

<p style="margin-top:40px"><b>2.Təkliflər rejimi</b></p>
<p>Bu rejimdə 3 bölmə olur.</p>
<p>-	Yeni daxil olan</p>
<p>-	Təsdiqlənən</p>
<p>-	İmtina olunan</p>

<p style="margin-left:10px">• Yeni daxil olmuş bölümündə məhsul satmaq istəyini bildirən potensial istehsalçıların siyahısı əks olunur.</p>
<p style="margin-left:10px">• Əgər Regional KTN istifadəçisi potensial istehsalçının elektron portal vasitəsilə göndərdiyi təklifi təsdiq edərsə həmin şəxsin məlumatları Təsdiqlənən bölümünə düşür və həmin potensial istehsalçının da şəxsi kabinetində həmin məhsul Təsdiqlənən məhsullar  alt menyusuna düşür.</p>
<p style="margin-left:10px">
    • Əgər Regional KTN istifadəçisi potensial istehsalçının elektron portal
    vasitəsilə göndərdiyi təklifdə hər hansı bir çatışmamazlıq aşkar edərsə ona
    İmtina  verir.Bu zaman imtina səbəbini də göstərir. Həmin potensial istehsalçı
    İmtina olunan bölümünə düşür.Bu nəticə həmin potensial istehsalçının şəxsi
    kabinetində də əks olunur.Bu məhsul potensial istehsalçının şəxsi kabinetdə
    Yarasız hesab edilən məhsullar alt menyusuna  düşür.
</p>









