
@{
    ViewBag.Title = "Index1";
}


<style>
    .left {
        margin-left: 10px;
    }
</style>

<h1>Necə sifariş verə bilərəm?</h1>
<p>
    • Hər bir təşkilat  portal  tərəfindən yaradılan şəxsi kabinet vasitəsilə məhsul sifariş verir. Sifariş vermə prosesi aşağıdakı ardıcılıqla davam edir:
</p>
<h5 class="left">• Təşkilat məhsul sifariş edərkən əvvəlcə sifariş ediləcək məhsulun göndəriləcəyi ünvanı seçir. Daha doğrusu tabeliyində olan təşkilatın adını siyahıdan seçir.</h5>
<h5 class="left">• Sifariş ediləcək məhsulu siyahıdan seçir.</h5>
<h5 class="left">• Sifariş ediləcək məhsulun təchizat  təqvim planını təyin edir. Hər bir məhsul üzrə ayrıca təchizat təqvim planı tərtib edilir. Məhsul sifarişini  gündəlik, həftəlik, </h5>
<h5 class="left">aylıq, rüblük və illik etmək olar.</h5>
<h5 class="left">• Bu plandan birini seçdikdən sonra aylar üzrə  məhsulun həcmi, catdırılma günü və saatı təyin edilir.</h5>
<h5 class="left">• Bütün parametrlər daxil edildikdən sonra sifarişi əlavə edirik.</h5>
<h5 class="left">• Əlavə edilmiş sifarişlərin siyahısını portal vasitəsilə çap edilir və təsdiq edilir. Təsdiq edilmiş sənəd skan olunaraq yenidən portal vasitəsilə sistemə daxil edilir.</h5>
<h5 class="left">• Yuxarıda göstərilən  prosesləri hər bir tabe təşkilatlar üzrə təkrar etmək lazımdır.</h5>
<h5 class="left">• Elektron fayl sistemə daxil edilir və təsdiq edilərək  Kənd Təsərrüfatı Nazirliyinə göndərilir.</h5>
<h5 class="left">Bütün təşkilatlar yuxarıda göstərilən qaydada sifarişlərini Kənd Təsərrüfatı Nazirliyinə göndərirlər.</h5>



