
@{
    ViewBag.Title = "Index4";
}





<h2 style="margin-bottom:50px">Istehsal etdiyim məhsulu necə satmaq üçün necə qeydiyyatdan keçir bilərəm?</h2>


<p style="margin-left:20px">• İstehsalçı öz adını siyahıdan tapır və üzərinə klik edərək qeydiyyat bölməsinə keçir</p>
<p style="margin-left:20px">• Burda ondan FİN kod istənilir (əgər hüuüi şəxsdirsə VÖEN).FİN kod daxil edilir və özünə aid məlumatlar (S.A.A., qeydiyyatda olduğu ünvan, doğum tarixi, cinsi) bazadan gətirilir. Bundan əlavə təhsili,vəzifəsi mobil telefon nömrəsi, elekton poçtu əlavə edilir.</b></p>
<p style="margin-left:20px">• Sonda da istifadəçi adı və şifrə təyin edərək təsdiq edir və qeydiyyatdan keçir. Sonrada təyin etdiyi istifadəçi adı və şifrəni daxil edərək öz şəxsi kabinetinə daxil olur.</p>
<p style="margin-left:20px">• Şəxsi Kabinetində Məhsullarım menyusunun Təsdiqlənən istehsal məhsullarım alt menyusuna daxil olur. Bu alt menyuda Regional KTN tərəfindən bu potebnsial istehsalçıya aid olan məhullar əks olunur.Hər bir məhsulun önündə Əməliiyatlar  düyməsi olur. Onun altındakı  Satışa hazırla  düyməsini basır.</p>
<p style="margin-left:20px">• Bundan sonra həmin məhsul haqında məlumatları daxil edir. Potensial istehsalçı həmin məhsulun təchizat  təqvim planını təyin edir. Hər bir məhsul üzrə ayrıca təchizat təqvim planı tərtib edilir. Məhsul satışını  gündəlik, həftəlik, aylıq, rüblük və illik etmək olar. Bu plandan birini seçdikdən sonra aylar üzrə  məhsulun qiyməti, həcmi, catdırılma günü və saatı təyin edilir.</p>
<p style="margin-left:20px">• Bütün parametrlər daxil edildikdən sonra təsdiq edirik.</p>
<p style="margin-left:20px">• Həmin məhsul Təkliflər  alt menyusuna düşür. Bununla da Potensial İstehsalçı həmin məhsulu satmaq niyyətini KTN-ə bildirmiş olur və KTN-dən təsdiq gözləyir.</p>
<p style="margin-left:20px">• Əgər Regional KTN istifadəçisi potensial istehsalçının elektron portal vasitəsilə göndərdiyi təklifi təsdiq edərsə həmin məhsul Təsdiqlənən məhsullar  alt menyusuna düşür.</p>
<p style="margin-left:20px">• Əgər Regional KTN istifadəçisi potensial istehsalçının elektron portal vasitəsilə göndərdiyi təklifdə hər hansı bir çatışmamazlıq aşkar edərsə ona İmtina  verir.İmtina verdikdə həmçinin imtina səbəbini də göstərir. Həmin məhsul şəxsi kabinetdə Yarasız hesab edilən məhsullar alt menyusuna düşür.</p>
<p style="margin-left:20px">• Potensial istehsalçı həmin məlumata düzəliş edərək yenidən  satmaq niyyətini bildirir və yenidən həmin məhsul  Təkliflər  alt meyusuna düşür və KTN tərəfindən təsdiq gözləyir.</p>
<p style="margin-left:20px">Əgər hər hansı bir potensial istehsalçı öz adını elektron portalda  aşkar etmədikdə, o, özü fərdi qaydada Azərbaycan Respublikasının Kənd Təsərrüfatı Nazirliyinə və ya Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin tabeliyində olan istənilən “ASAN xidmət” mərkəzinə müraciət edə bilər. Müraciət edildiyi halda həmin istehsalçı ilə bağlı məlumatlar dərhal elektron portala əlavə edilməli və müraciət edən şəxsə bu barədə məlumat verilməlidir. (http://www.emsal.az/ istifadəçi: asan, şifrə:123). ASAN  xidmətdə potensial istehsalçının portala daxil edilmə prosesi 3-cü bənddəki kimidir.</p>
