
@{
    ViewBag.Title = "EMSAL";
}

<style>
    .left {
        margin-left: 13px;
    }
</style>


<h2 style="margin-bottom:50px">KTN tərəfindən təsdiq edilən potensial istehsalçılar və onların istehsal etdiyi məhsullar barəsində məlumatlar </h2>

<p> KTN tərəfindən təsdiq edilən potensial istehsalçılar və onların istehsal etdiyi məhsullar barəsində məlumatlar “Ərzaq məhsullarının tədarükü və təchizatı”</p>
<p>ASC nin rayon üzrə idarələri üçün yaradılan şəxsi kabinetdə Təkliflər Monitorinqi bölümündə əks olunacaq.</p>
<p><b>Bu rejimdə 3 bölmə olur.</b></p>
<p>- Yeni daxil olan</p>
<p>- Təsdiqlənən</p>
<p>- İmtina olunan</p>

<p class="left">• Yeni daxil olmuş bölümündə KTN tərəfindən təsdiq edilən potensial istehsalçılar və onların istehsal etdiyi məhsulların siyahısı əks olunur.Bu siyahl</p>
<p class="left"> vasitəsilə ASC həmin təkliflərin monitoringinin aparır.</p>
<p class="left">• Əgər “Ərzaq məhsullarının tədarükü və təchizatı” ASC hər hansı bir potensial istehsalçının təklifini təsdiq edərsə həmin şəxsin məlumatları Təsdiqlənən</p>
<p class="left">bölümünə düşür və həmin potensial istehsalçının da şəxsi kabinetində həmin məhsul Təsdiqlənən məhsullar  alt menyusuna qalır.</p>
<p class="left">
    • Əgər “Ərzaq məhsullarının tədarükü və təchizatı” ASC hər hansı bir potensial
    istehsalçının təklifinin monitorinqi zamanı hər hansı bir çatışmamazlıq
</p>
<p class="left">
    aşkar
    edərsə onda həmin təklifə İmtina verir.Bu çatışmamzlıq barəsində KTN-ə və
    potensial istehsalçıya xəbər verir. İmtina verdikdən sonra həmin
</p>
<p class="left">
    potensial
    istehsalçı İmtina olunan bölümünə düşür. Bu nəticə həmin

    potensial
    istehsalçının şəxsi kabinetində də əks olunur.Bu məhsul potensial istehsalçının

</p>

<p class="left">şəxsi kabinetdə   Yarasız hesab edilən məhsullar alt menyusuna  düşür.
<p>Əgər potensial istehsalçı həmin çatışmamzlığı aradan qaldırbsa onda yenidən o təklifi təsdiq üçün KTN göndərməlidir. Bu proses isə 3 və 5-ci bəndləri ilə</p>
<p>həyata keçirilir.</p>
<p>ASC tərəfində təsdiq alan Potensial istehsalçının təklifi elektorn portalda  Təkliflər  menyusunda əks olunacaq</p>