
@{
    ViewBag.Title = "Index1";
}




<h1>Necə sifariş verə bilərəm?</h1>
<p style="margin-left:20px">
    • Hər bir təşkilat  portal  tərəfindən yaradılan şəxsi kabinet vasitəsilə məhsul sifariş verir. Sifariş vermə prosesi aşağıdakı ardıcılıqla davam edir:
</p>
<p style="margin-left:20px">• Təşkilat məhsul sifariş edərkən əvvəlcə sifariş ediləcək məhsulun göndəriləcəyi ünvanı seçir. Daha doğrusu tabeliyində olan təşkilatın adını siyahıdan seçir.</p>
<p style="margin-left:20px">• Sifariş ediləcək məhsulu siyahıdan seçir.</p>
<p style="margin-left:20px">• Sifariş ediləcək məhsulun təchizat  təqvim planını təyin edir. Hər bir məhsul üzrə ayrıca təchizat təqvim planı tərtib edilir. Məhsul sifarişini  gündəlik, həftəlik, aylıq, rüblük və illik etmək olar.</p>
<p style="margin-left:20px">• Bu plandan birini seçdikdən sonra aylar üzrə  məhsulun həcmi, catdırılma günü və saatı təyin edilir.</p>
<p style="margin-left:20px">• Bütün parametrlər daxil edildikdən sonra sifarişi əlavə edirik.</p>
<p style="margin-left:20px">• Əlavə edilmiş sifarişlərin siyahısını portal vasitəsilə çap edilir və təsdiq edilir. Təsdiq edilmiş sənəd skan olunaraq yenidən portal vasitəsilə sistemə daxil edilir.</p>
<p style="margin-left:20px">• Yuxarıda göstərilən  prosesləri hər bir tabe təşkilatlar üzrə təkrar etmək lazımdır.</p>
<p style="margin-left:20px">• Elektron fayl sistemə daxil edilir və təsdiq edilərək  Kənd Təsərrüfatı Nazirliyinə göndərilir.</p>
<p style="margin-left:20px">Bütün təşkilatlar yuxarıda göstərilən qaydada sifarişlərini Kənd Təsərrüfatı Nazirliyinə göndərirlər.</p>



