
@{
    ViewBag.Title = "Index2";
}

<style>
    .left {
        margin-left: 20px;
    }
</style>


<h1>Kənd Təsərrüfatı Nazirliyi (KTN) işlərini necə həyata keçirir?</h1>

<p class="left">• KTN sifariş verilə biləcək məhsullar haqqında məlumatı bazaya daxil edir.</p>
<p class="left">• KTN məhsul sifariş verəcək bütün təşkilatlar və onlara tabe olan təşkilatlar haqqında məlumatları portal vasitəsilə bazaya daxil edir.</p>
<p class="left">• KTN məhsul sifariş verəcək bütün təşkilatlar üçün şəxsi kabinet yaradır və hər birinə ayrı ayrılıqda istifadəşi adı və şifrə hazırlayaraq təşkilatlara təqdim edir.</p>
<p class="left">• KTN bu portaldan istifadə etmək üçün  həm regional KTN idarələri və həmçinin də regional “Ərzaq məhsullarının tədarükü və təchizatı” ASC idarələri üçün </p>
<p class="left"> şəxasi kabinetlərinə daxil olmaq üçün istifadəşi adı və şifrə hazırlayır.</p>
<p class="left">• KTN rübdə bir dəfə hər məhsul üzrə topdansatış qiymətləri öyrənərək bazaya daxil edir.</p>
<p class="left">• KTN təşkilatlardan gələn sifarişlər nəzərdən keçirdərək təsdiq edir.</p>
<p class="left">• KTN sifariş verilən məhsulları təsdiqlədikdən sonra Portalda yayimlanmaq üçün elan verir. Hər bir məhsul üzrə fəqrli fərqli elan müddəti ola bilər.</p>



