
@{
    ViewBag.Title = "KTNPotensialProducer";
}
<style>
    .left {
        margin-left: 20px;
    }
</style>
<h2 style="margin-top:10px">
    Potensial İstehsalçıları siyahısında olan istehsalçının təklif verməsi
    <a tyle="margin-left:50px" class="btn btn-success" href="~/Content/OffersPdf/Fiziki/KTN terefinden tesdiq edilmish potensial istehsalchinin teklifleri.pdf">Yüklə</a>
</h2>
<p class="left"><b>Potensial İstehsalçı</b>  istifdəçi adı və şifrəni daxil edərək öz şəxsi kabinetinə daxil olur və şəxsi kabinetdə aşağıdakı menyu əks olunur</p>
 <p class="left"><img src="~/Content/imageKTNPotensialProducer/image1.png" /> menyusunun təsviri aşağıdakı kimidir.</p>
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image2.png" /></p>
<p class="left"><b>“Potensial istehsalçı məhsulları”</b> alt menyusunda Potensial istehsalçının  yetişdirdiyi  məhsullar haqqında Kənd Təsərrüfatı İdarəsi (məhsulun yetişdirildiyi</p>
<p class="left"> ünvandan asılı olaraq həmin rayonun  Kənd Təsərrüfatı İdarəsi nəzərdə tutulur ) tərəfindən daxil edilmiş məlumat əks olunur.
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image3.png" /></p>
<p class="left">Potensial istehsalçı bu alt menyuda göstərilən məhsulları satmaq istəyini bildirə bilər. Bunun üçün hər bir məhsulun qarşısında olan  <img src="~/Content/imageKTNPotensialProducer/image4.png" />
</p><p class="left">
    düyməsini basmaqla <b>
        “Satışa
        <img src="~/Content/imageKTNPotensialProducer/image5.png" />  Hazırla”
    </b> sözünü seçməlidir.Bu hal aşağıdakı şəkildə əks olunub.</p>
<p class="left"><b>“Satışa Hazırla”</b>  düyməsini basdıqdan sonra məhsul haqqında məlumatları doldurmaq üçün yeni səhifə açılır.</p>
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image6.png" /></p>
<p class="left">Şəkildən göründüyü kimi bu səhifədə bəzi xanalar artıq dolub.Qalan xanaları da potensial istehsalçı doldurmalıdır.</p>
<p class="left">
    Potensial istehsalçı hər bir məhsul üzrə ayrıca tədarük təqvim planı tərtib edir.</p>
  <p class="left">
    Təklif ediləcək məhsulun gələcəkdə tədarük qrafiki təyin edilir. Bu qrafik
    gündəlik, həftəlik, aylıq, rüblük və illik təyin edilə bilər. Bu qrafikdən  birini seçdikdən
</p><p class="left">  sonra aylar seçilir. Hər bir seçilmiş aylar üzrə ayrı-ayrılıqda məhsulun həcmi, qiyməti (bir ölçü vahidinə düşən), tədarük  günü  təyin edilir.
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image7.png" /></p>
<p class="left">Əgər Potensial istehsalçını Kənd Təsərrüfatı İdarəsi tərəfindən tədarük ediləcək məhsul üzrə daxil edilən həcm <img src="~/Content/imageKTNPotensialProducer/image8.png" />  qane </p><p class="left">
    etmirsə  və potensial istehsalçı göstərilən ümümu həcmdən çox və ya az tədarük edə bilərsə, onda aylar üzrə məhsulu özünün təyin etdiyi həcmlə verə
</p><p class="left">   bilər. Əks halda şəkildən göründüyü kimi Kənd Təsərrüfatı İdarəsi tərəfindən daxil edilən həcm potensial istehsalçı tərəfindən  seçılən aylar arasında </p><p class="left">  bərabər bölünür.
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image9.png" /></p>
<p class="left">Əgər Kənd Təsərrüfatı Nazirliyi həmin məhsul üzrə hər hansı bir sənəd tələb edəcəksə bu onda həmin sənədlər skan edilərək portala əlavə edilir.</p>
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image10.png" /></p>
<p class="left">
    Sonda   Potensial istehsalçı<img src="~/Content/imageKTNPotensialProducer/image11.png" />   düyməsini basmaqla həmin məhsulu satmaq niyyətini bildirir.
    Göndərilən
<p class="left">
    təkliflər Kənd Təsərrüfatı Nazirliyi tərəfindən təsdiq olunana kimi <b>“Təkliflər”</b>
    alt menyusunda yerləşir.
</p>
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image12.png" /></p>
<p class="left">Potensial istehsalçı təklifləri yerləşdirdikdən sonra şəxsi kabinetə qayıtmaq üçün aşağıdakı şəkildən göründüyü kimi<b> Şəxsi Səhifə</b>  alt menyusuna basmalıdır.
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image13.png" /></p>
<p class="left">Əgər göndərilən təklif  Kənd Təsərrüfatı Nazirliyinin yerli idarəsi tərəfindən təsdiqlənərsə  onda həmin təklif <b> “Təsdiqlənən Təkliflər”</b> alt menyusunda əks olunacaq</p>
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image14.png" /></p>
<p class="left">
    Əgər Kənd Təsərrüfatı Nazirliyinin yerli idarəsi potensial istehsalçının elektron portal vasitəsilə göndərdiyi təklifdə hər hansı bir çatışmamazlıq aşkar edərsə həmin təklifə
</p>
<p class="left"> <b> İmtina </b> verir. İmtina verdikdə həmçinin imtina səbəbini də göstərir. Həmin məhsul Satıcının şəxsi kabinetində <b>“Yarasız Sayılan Təkliflər ”</b>  alt menyusuna</p><p class="left"> düşür.</p>
<p class="left">   Eynilə <b>“Satınalma Agentliyi”</b> verilən təkliflə də razılaşmaya bilər. Satınalma Agentliyi portaldan  təklifləri götürür və yerində yoxlayır. Yoxlama zamanı aşkar</p><p class="left"> edilsə ki, məhsul haqqında daxil edilən məlumatlar reallığı əks etdirmir, onda <b>“Satınalma Agentliyi”</b>   bu təkliflə bağlı öz iradını bildirir və təklif yenidən</p><p class="left"> <b>“Yarasız Sayılan Təkliflər ”</b>  alt menyusuna düşür.
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image15.png" /></p>
<p class="left"> Ola bilər ki, imtinanın səbəbi xırda bir düzəlişlə bağlıdırsa,  onda Satıcı həmin məlumata düzəliş edir və  yenidən  satmaq niyyətini bildirir və həmin məhsul</p><p class="left">  <b>“Təkliflər”</b>  alt meyusuna düşür. Bundan sonra <b>“Satınalma Agentliyi”</b>   tərəfindən təsdiq gözləyir.
<p class="left">Təsdiq aldıqdan sonra həmin təklif saytın <b>“Təkliflər”</b> menyusunda əks olunur.</p>
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image16.png" style="width:800px; height:500px" /></p>
<p class="left"><b> “Yayımdan çıxan təkliflər” </b> alt menyusunda elan vaxtı bitmiş təkliflər əks olunacaq</p>
<p class="left"><img src="~/Content/imageKTNPotensialProducer/image17.png" /></p>



