
@{
    ViewBag.Title = "LegalPotentialProducer";
}


<style>
    .left {
        margin-left: 20px;
    }
</style>
<h2 style="margin-top:10px">
    Potensial İstehsalçıları siyahısında olmayan istehsalçının
    <a style="margin-left:50px" class="btn btn-success" target="_blank" href="~/Content/OffersPdf/Huquqi/Musteqil qeydiyyatdan kechmish potensial isteshalchinin teklifleri.pdf">Yüklə</a>
    <p>təklif verməsi</p>
</h2>
<p class="left">
    <b>İstehsalçı</b> (<b>Potensial İstehsalçı</b>)  öz şəxsi kabinetinə daxil olduqdan sonra
    <img src="~/Content/imagePotentialOffer/image1.png" />düyməsini basmaqla satmaq niyyətində olduğu
</p><p class="left">  məhsullar haqqında məlumatı daxil edir.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image2.png" /></p>
<p class="left">İstehsalçı sıra ilə bütün xanaları doldurur. Satıcı əvvəlcə məhsulun mənşəyi haqqında məlumatı daxil edir. Məhsulun mənşəyi dedikdə istehsal edilən ölkə</p>
<p class="left"> nəzərdə tutulur. Əgər məhsul yerli məhsuldursa Azərbaycan Respublikası seçılır. Seçim avtomatikdir.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image3.png" /></p>
<p class="left">   Məhsulun yerləşdiyi ünvanı daxil edirik. Burda kənd və qəsəbələrin də dəqiq daxil edilməsi  lazımdır.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image4.png" /></p>
<p class="left">İstehsalçı satmaq niyyətində olduğu məhsulun adını və ölçü vahidini seçir.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image5.png" /></p>
<p class="left">İstehsalçı hər bir məhsul üzrə ayrıca tədarük təqvim planı tərtib edir.</p>
<p class="left">Təklif ediləcək məhsulun gələcəkdə tədarük qrafiki təyin edilir. Bu qrafik  gündəlik, həftəlik, aylıq, rüblük və illik təyin edilə bilər. Bu qrafikdən  birini seçdikdən</p>
<p class="left">sonra aylar seçilir. Hər bir seçilmiş aylar üzrə ayrı-ayrılıqda məhsulun həcmi, qiyməti (bir ölçü vahidinə düşən), tədarük  günü və saatı təyin edilir.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image6.png" /></p>
<p class="left">Əgər Kənd Təsərrüfatı Nazirliyi həmin məhsul üzrə hər hansı bir sənəd tələb edəcəksə bu onda həmin sənədlər skan edilərək portala əlavə edilir.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image7.png" /></p>
<p class="left">
    Sonda   İstehsalçı<img src="~/Content/imagePotentialOffer/image8.png" />   düyməsini basmaqla həmin məhsulu satmaq niyyətini bildirir.
    Göndərilən
<p class="left">
    təkliflər Kənd Təsərrüfatı Nazirliyi tərəfindən təsdiq olunana kimi <b>“Təkliflər”</b>
    alt menyusunda yerləşir.
</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image9.png" /></p>
<p class="left">İstifadəçi təklifləri yerləşdirdikdən sonra şəxsi kabinetə qayıtmaq üçün aşağıdakı şəkildən göründüyü kimi<b> Şəxsi Səhifə</b>  alt menyusuna basmalıdır.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image10.png" /></p>
<p class="left">
    Əgər göndərilən təklif  Kənd Təsərrüfatı Nazirliyinin yerli idarəsi tərəfindən təsdiqlənərsə  onda həmin təklif <b> “Təsdiqlənən Təkliflər”</b> alt menyusunda əks
</p><p class="left">olunacaq</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image11.png" /></p>
<p class="left">
    Əgər Kənd Təsərrüfatı Nazirliyinin yerli idarəsi potensial istehsalçının  elektron portal vasitəsilə göndərdiyi təklifdə hər hansı bir çatışmamazlıq aşkar edərsə
</p><p class="left">
    həmin təklifə
    <b> İmtina </b> verir. İmtina verdikdə həmçinin imtina səbəbini də göstərir. Həmin məhsul potensial istehsalçının  şəxsi kabinetində <b>“Yarasız Sayılan
</p>
<p class="left"> Təkliflər ”</b>  alt menyusuna düşür</p>
<p class="left">   Eynilə <b>“Satınalma Agentliyi”</b> verilən təkliflə də razılaşmaya bilər. Satınalma Agentliyi portaldan  təklifləri götürür və yerində yoxlayır. Yoxlama zamanı aşkar</p><p class="left">
    edilsə ki, məhsul haqqında daxil edilən məlumatlar reallığı əks etdirmir, onda <b>“Satınalma Agentliyi”</b>   bu təkliflə bağlı öz iradını bildirir
</p><p class="left"> və təklif yenidən <b>“Yarasız Sayılan Təkliflər ”</b>  alt menyusuna düşür.</p>
<p class="left"> <img src="~/Content/imagePotentialOffer/image12.png" /></p>
<p class="left"> Ola bilər ki, imtinanın səbəbi xırda bir düzəlişlə bağlıdırsa,  onda Potensial Istehsalçı həmin məlumata düzəliş edir və  yenidən  satmaq niyyətini bildirir və </p><p class="left"> həmin məhsul <b>“Təkliflər”</b>  alt meyusuna düşür. Bundan sonra <b>“Satınalma Agentliyi”</b>   tərəfindən təsdiq gözləyir.
<p class="left">Təsdiq aldıqdan sonra həmin təklif saytın <b>“Təkliflər”</b> menyusunda əks olunur.</p>
<p class="left"><img src="~/Content/imagePotentialOffer/image13.png" style="width:800px; height:500px" /></p>
<p class="left"><b> “Yayımdan çıxan təkliflər” </b> alt menyusunda elan vaxtı bitmiş təkliflər əks olunacaq</p>
<p class="left"><img src="~/Content/imagePotentialOffer/image14.png" /></p>
