
@{
    ViewBag.Title = "LegalSellerSignUp";
}


<style>
    .left {
        margin-left: 20px;
    }
</style>
<h2 style="margin-top:10px">Satıcıların qeydiyyatı  
    <a  tyle="margin-left:50px" class="btn btn-success"target="_blank"  href="~/Content/SignUpPdf/Huquqi/Satıcın qeydiyyatdan kechmesi.pdf">Yüklə</a></h2>
<p class="left">
    Qeydiyyatdan keçmək üçün sahibkar (<b>Hüquqi</b>) şəxs sayta daxil olur və əsas səhifədə yerləşən menyulardan
    <img src="~/Content/imageSellerSignUp/image1.png" />   düyməsini basır və
</p>
<p class="left">  aşağıdakı səhifə açılır. </p>
<p class="left"><img src="~/Content/imageSellerSignUp/image2.png" style="width:800px" /></p>
<p class="left">
    Burda <img src="~/Content/LegalSellerSignUp/image1.png" />  düyməsinə basaraq növbəti səhifəyə keçid edirik. Əvvəlcə sahibkar özünün <b>Satıcı</b>   və ya  <b>Satıcı</b>
</p><p class="left"> olduğunu seçir.</p>
<p class="left">
     <img src="~/Content/LegalSellerSignUp/image2.png" /></p>
<p class="left"> Satıcı <b>Fiziki şəxs</b>  və ya <b>Hüquqi Şəxs</b> olduğunu seçir.
<p class="left">
    <img src="~/Content/LegalSellerSignUp/image3.png" />
</p>
<p class="left">Əgər istehsalçı Hüquqi Şəxsdirsə  <b>“Hüquqi şəxs” </b>  seçir və<b> VÖEN</b> daxil edir.
<p class="left">
    <img src="~/Content/LegalSellerSignUp/image4.png" />
</p>

<p class="left" style="margin-top:30px">Satıcı <b>“VÖEN”</b>  kodu daxil edir və <b>“Yoxla”</b>  düyməsini basır.</p>
<p class="left"><img src="~/Content/legalProducer1/image1.png" /></p>
<p class="left">
    <b>“Yoxla”</b>  düyməsi basıldıqdan sonra Satıcının məlumatları avtomatik gətirilir. Əgər heç bir məlumat gəlməsə Satıcı daxil etdiyi
</p><p class="left">  <b>“VÖEN”</b> kodu yoxlayır.</p>
<p class="left"><img src="~/Content/legalProducer1/image2.png" /></p>
<p class="left">Əks olunan məlumatlardan əlavə <b>Satıcı</b> aşağıdakı digər məlumatları doldurur.

<p class="left"><b> İstifadəçi adı</b> (bu xana məcburidir və gələcəkdə portalda şəxsi kabinetə daxil olmaq üçün istifadə edilir. İsitfadəçi adi </p><p class="left">təkrarlanmamlıdır.Əgər istifadəçi adı təkrarlanacaqsa sistem bu barədə ekrana məlumat çixaracaq və başqa istifadəçi adın daxil edilməsini təklif edəcək)
<p class="left"><b> Şifrə</b> (bu xana məcburidir və gələcəkdə portalda şəxsi kabinetə girmək üçün istifadə edilir)</p>
<p class="left"><b>E-poçt</b> (bu xana məcburi deyildir. Əgər elektron poçtunuz varsa həmin ünvana  portal tərfindən şəxsi kabinetin aktiv edilməsi barədə məlumat gələcək)</p>
<p class="left">
    <b>Mobil nömrə</b> (bu xana məcburidir. Mobil nömrə şəxsin özünə aid olmalıdır. Bir mobil nömrə bir Satıcının qeydiyyatdan keçməsi üçün
</p><p class="left">keçərlidir. Əgər həmin mobil nömrə portaldan qeydiyyatdan keçibsə  sistem bu barədə ekrana məlumat çixaracaq və başqa mobil nömrənin daxil edilməsini</p>
<p class="left"> təklif edəcək. Şəxsi kabinet aktiv edildikdən sonra bu barədə həmin nömrəyə qısa mesaj gələcək)</p>
<p class="left"><b>Təhsil</b> (bu xana məcburi deyildir)</p>
<p class="left"><b>İŞ</b> (bu xana məcburi deyildir)</p>
<p class="left"><img src="~/Content/legalProducer1/image3.png" /></p>
<p class="left">
    Bütün xanalar doldurulduqdan sonra
    <img src="~/Content/imageSignUp/image14.png" />    düyməsi basılır və Satıcının qeydiyyatdan keçməsi barədə ekrana mesaj gəlir.Mesajı
</p><p class="left">bağladıqdan sonra Satıcı üçün avtomatik olaraq sistemə daxil olma pəncərəsi aktiv olur.</p>
<p class="left"><img src="~/Content/imageSignUp/image15.png" /></p>
<p class="left">
    Satıcı qeydiyyatdan keçdiyi zaman seçdiyi isitfadəçi adı  və şifrəni daxil edərək şəxsi kabinetinə daxil olur. İstehsalçı şəxsi kabinetə daxil olduqdan sonra
</p><p class="left">
    səhifədə 2 əsas menyu olur.
    <img src="~/Content/legalProducer1/image5.png" />    və  istehsalçının soyadı və adına uyğun (Misal:<img src="~/Content/legalProducer1/image5.png" />   )  menyusu.
</p>
<p class="left"><img src="~/Content/imageSignUp/image18.png" @*style="width:800px; height:500px"*@ /></p>

<p class="left" style="margin-top:30px">Satıcı özünə  aid olan şəxsi məlumatları bu menyu vasitəsilə dəyişə bilər </p>


