
@{
    ViewBag.Title = "LegalProducer";
}





<style>
    .left {
        margin-left: 20px;
    }
</style>
<h2 style="margin-top:10px">Potensial istehsalçı siyahısında olan istehsalçının qeydiyyatı 
    <a tyle="margin-left:50px" class="btn btn-success" target="_blank" href="~/Content/SignUpPdf/Huquqi/Siyahida olan potensial istehsalchi.pdf">Yüklə</a></h2>

<p class="left">Potensial istehsalçıların <b>(Hüquqi şəxs)</b> siyahısı və istehsal etdiyi məhsul haqqında məlumatlar Kənd Təsərrüfatı Nazirliyinin yerli İdarələri tərəfindən əvvəlcədən </p>
<p class="left">yerləşdirilir.<b>Potensial</b> İstehsalçılar öz adlarını tapmaq üçün sayta daxil olur və əsas səhifədə yerləşən menyularda Potensial İstehsalçılar  menyusuna daxil</p>
<p class="left"> olurlar.  Əgər hər hansı bir potensial istehsalçı öz adını elektron portalda  aşkar etmədikdə o, özü fərdi qaydada Azərbaycan Respublikasının Kənd Təsərrüfatı</p><p class="left">
    Nazirliyinin yerli İdarələrinə, Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin tabeliyində
</p>
<p class="left">
    olan istənilən “ASAN xidmət” mərkəzinə  müraciət edə bilər.  Müraciət edildiyi halda həmin istehsalçı ilə bağlı məlumatlar dərhal elektron portala əlavə edilməli
</p><p class="left">
    və müraciət edən şəxsə bu barədə məlumat verilməlidir.
<p class="left">  <b>QEYD:</b> İstehsalçı həmçinin fərdi qaydada Portaldan qeydiyyatdan keçərək  özünü potensial</p><p class="left"> istehsalçı kimi təsdiq etmək üçün müraciət edə bilər (Onun Potensial istehsalçı olduğunu Kənd Təsərrüfatı Nazirliyi təsdiq etməlidir) və məhsullarını satmaq</p>
<p class="left"> niyyətini bildirə bilər.</p>
<p class="left"><img src="~/Content/imageSignUp/image1.png" style="width:800px; height:500px" /></p>
<p class="left" style="margin-top:30px; margin-bottom:35px"><b>Potensial İstehsalçılar</b>  menyusuna  daxil olduqdan sonra aşağıdakı səhifə açılır.</p>
<p class="left"><img src="~/Content/imageSignUp/image2.png" style="width:800px; height:500px" /></p>
<p class="left" style="margin-top:30px">Burda potensial istehsalçı özünü tapmaq üçün solda yerləşən region üzrə axtarışdan və ya səhifənin başında yerləşən paneldən hər sütün üzrə axtarış</p><p class="left">
    edə bilər. Nümunələr aşağıdakı şəkillərdə göstərilmişdir.
</p>
<p class="left"><img src="~/Content/imageSignUp/image3.png" @*style="width:800px; height:500px"*@ /></p>
<p class="left"><img src="~/Content/imageSignUp/image4.png" style="width:800px; height:500px" /></p>
<p class="left" style="margin-top:30px">   a) <b>Regionlara görə axtarış paneli</b> (Misal:Sumqayıt şəhəri)</p>
<p class="left"><img src="~/Content/legalProducer1/image01.png" /> @*style="width:800px; height:500px"*@ /></p>
<p class="left" style="margin-top:30px">b)<b>	Sütünlarla axtarış</b> (Misal: "SÜRƏT")
<p class="left">Potensial istehsalçı öz adını siyahıda tapdıqdan sonra adının qarşısındakı<img src="~/Content/imageSignUp/image6.png" /> işarəsinə basmaqla qeydiyyat səhifəsinə keçid edir.
<p class="left"><img src="~/Content/imageSignUp/image7.png" style="width:750px;" /></p>
<p class="left">Burda<img src="~/Content/imageSignUp/image8.png" />    düyməsinə basaraq növbəti səhifəyə keçid edirik.</p>

<p class="left" style="margin-top:30px">Potensial istehsalçı <b>“VÖEN”</b>  kodu daxil edir və <b>“Yoxla”</b>  düyməsini basır.</p>
<p class="left"><img src="~/Content/legalProducer1/image1.png" /></p>
<p class="left">
    <b>“Yoxla”</b>  düyməsi basıldıqdan sonra Potensial istehsalşçının məlumatları avtomatik gətirilir. Əgər heç bir məlumat gəlməsə potensial istehsalçı daxil etdiyi
</p><p class="left">  <b>“VÖEN”</b> kodu yoxlayır.</p>
<p class="left"><img src="~/Content/legalProducer1/image2.png" /></p>
<p class="left">Əks olunan məlumatlardan əlavə <b>Potensial İstehsalçı</b> aşağıdakı digər məlumatları doldurur.

<p class="left"><b> İstifadəçi adı</b> (bu xana məcburidir və gələcəkdə portalda şəxsi kabinetə daxil olmaq üçün istifadə edilir. İsitfadəçi adi </p><p class="left">təkrarlanmamlıdır.Əgər istifadəçi adı təkrarlanacaqsa sistem bu barədə ekrana məlumat çixaracaq və başqa istifadəçi adın daxil edilməsini təklif edəcək)
<p class="left"><b> Şifrə</b> (bu xana məcburidir və gələcəkdə portalda şəxsi kabinetə girmək üçün istifadə edilir)</p>
<p class="left"><b>E-poçt</b> (bu xana məcburi deyildir. Əgər elektron poçtunuz varsa həmin ünvana  portal tərfindən şəxsi kabinetin aktiv edilməsi barədə məlumat gələcək)</p>
<p class="left">
    <b>Mobil nömrə</b> (bu xana məcburidir. Mobil nömrə şəxsin özünə aid olmalıdır. Bir mobil nömrə bir potensial istehsalçının qeydiyyatdan keçməsi üçün
</p><p class="left">keçərlidir. Əgər həmin mobil nömrə portaldan qeydiyyatdan keçibsə  sistem bu barədə ekrana məlumat çixaracaq və başqa mobil nömrənin daxil edilməsini</p>
<p class="left"> təklif edəcək. Şəxsi kabinet aktiv edildikdən sonra bu barədə həmin nömrəyə qısa mesaj gələcək)</p>
<p class="left"><b>Təhsil</b> (bu xana məcburi deyildir)</p>
<p class="left"><b>İŞ</b> (bu xana məcburi deyildir)</p>
<p class="left"><img src="~/Content/legalProducer1/image3.png" /></p>
<p class="left">
    Bütün xanalar doldurulduqdan sonra
    <img src="~/Content/imageSignUp/image14.png" />    düyməsi basılır və Potensial istehsalçının qeydiyyatdan keçməsi barədə ekrana mesaj gəlir.Mesajı
</p><p class="left">bağladıqdan sonra Potensial İstehsalçı üçün avtomatik olaraq sistemə daxil olma pəncərəsi aktiv olur.</p>
<p class="left"><img src="~/Content/imageSignUp/image15.png" /></p>
<p class="left">
    İstehsalçı qeydiyyatdan keçdiyi zaman seçdiyi isitfadəçi adı  və şifrəni daxil edərək şəxsi kabinetinə daxil olur. İstehsalçı şəxsi kabinetə daxil olduqdan sonra
</p><p class="left">
    səhifədə 2 əsas menyu olur.
    <img src="~/Content/legalProducer1/image5.png" />    və  istehsalçının soyadı və adına uyğun (Misal:<img src="~/Content/legalProducer1/image5.png" />   )  menyusu.</p>
<p class="left"><img src="~/Content/imageSignUp/image18.png" @*style="width:800px; height:500px"*@ /></p>

<p class="left" style="margin-top:30px">Potensial istehsalçı özünə  aid olan şəxsi məlumatları bu menyu vasitəsilə dəyişə bilər </p>


