
@{
    ViewBag.Title = "PersonSignUp";
}
<style>
    .left {
        margin-left: 20px;
    }
</style>
<h1 style="margin-top:10px">Potensial istehsalçı siyahısında olmayan istehsalçının
    </h1><h1 style="margin-top:10px"> qeydiyyatı</h1>
<p class="left"  style="margin-top:20px">
    Əgər hər hansı bir potensial istehsalçı öz adını elektron portalda  aşkar etmədikdə, o, özü fərdi qaydada Azərbaycan Respublikasının Kənd Təsərrüfatı</p>
<p class="left">
    Nazirliyinin yerli İdarələrinə, Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin tabeliyində</p><p class="left">
    olan istənilən “ASAN xidmət” mərkəzinə  müraciət edə bilər.  Müraciət edildiyi halda həmin istehsalçı ilə bağlı məlumatlar dərhal elektron portala əlavə edilməli 
   </p><p class="left">
    və müraciət edən şəxsə bu barədə məlumat verilməlidir.</p>
<p class="left">
    <b>QEYD</b>: İstehsalçı həmçinin fərdi qaydada Portaldan qeydiyyatdan keçərək  özünü potensial istehsalçı
    kimi təsdiq etmək üçün müraciət edə bilər (Onun</p>
<p class="left"> Potensial istehsalçı olduğunu Kənd Təsərrüfatı Nazirliyi təsdiq etməlidir) və məhsullarını satmaq niyyətini bildirə bilər.</p>
<p class="left"> Qeydiyyatdan keçmək üçün İstehsalçılar <b> (Fiziki şəxs)</b> sayta daxil olur və əsas səhifədə yerləşən menyulardan  
    <img src="~/Content/Person/image1.png" />  düyməsini basır və aşağıdakı</p>
  <p class="left">   səhifə açılır.</p>
<p class="left"> <img src="~/Content/Person/image2.png" />  </p>
<p class="left">Burda  <img src="~/Content/Person/image01.png" />  düyməsinə basaraq növbəti səhifəyə keçid edirik. Əvvəlcə İstehsalçı özünün<b> Potensial İstehsalçı</b>  və ya  <b>Satıcı</b></p>
<p class="left">   olduğunu seçir. (Əgər şəxş Potensial İstehsalçı seçirsə, onda onun Potensial istehsalçı olduğunu qeydiyyatdan keçdikdən sonra  Kənd Təsərrüfatı Nazirliyi yoxlamalı <p class="left">
    </p><p class="left">  və təsdiq etməlidir)</p>
<p class="left"> <img src="~/Content/Person/image3.png" />  </p>
<p class="left">Əgər istehsalçı Fiziki şəxsdirsə <b>“Fiziki şəxs” </b>  seçir və şəxsiyyət vəsiqəsindən <b>“FİN”</b> kodu daxil edir.</p>
<p class="left"> <img src="~/Content/Person/image4.png" />  </p>
<p class="left"><b>Şəkil: FİN kod</b> ( FİN kod qırmızı rənglə verilmişdir)</p>
<p class="left"> <img src="~/Content/Person/image5.png" />  </p>
<p class="left" style="margin-top:30px">
    <b>
        Fiziki şəxs</b>  seçilir və FİN kod daxil edilirək <b>
    “Yoxla”</b>  düyməsi basılır.
    <b> “Yoxla”</b>  düyməsi basıldıqdan sonra  İstehsalşçının məlumatları İAMAS-a qoşularaq </p>
<p class="left"> gətirilir.Əgər heç bir məlumat gəlməsə İstehsalçı daxil etdiyi “FİN” kodu yoxlayır.
<p class="left"> <img src="~/Content/Person/image6.png" />  </p>
<p class="left">
    İAMAS-dan gələn məlumatlardan əlavə <b> İstehsalçı</b> aşağıdakı digər məlumatları doldurur.
</p>
<p class="left">
    <b>   İstifadəçi adı</b> (bu xana məcburidir və gələcəkdə portalda şəxsi kabinetə daxil olmaq üçün istifadə edilir. İsitfadəçi adi təkrarlanmamlıdır.Əgər istifadəçi adı
</p>
<p class="left">
    təkrarlanacaqsa sistem bu barədə ekrana məlumat çixaracaq və başqa istifadəçi adın daxil edilməsini təklif edəcək)
    Şifrə (bu xana məcburidir və gələcəkdə
</p>
<p class="left">
    portalda şəxsi kabinetə girmək üçün istifadə edilir)
</p>
<p class="left">
    <b>E-poçt</b> (bu xana məcburi deyildir. Əgər elektron poçtunuz varsa həmin ünvana  portal tərfindən şəxsi
</p><p class="left">
<p class="left">
    kabinetin aktiv edilməsi barədə məlumat gələcək)
</p>
<p class="left">   <b> Mobil nömrə</b> (bu xana məcburidir. Mobil nömrə şəxsin özünə aid olmalıdır. Bir mobil nömrə</p>
<p class="left">
    bir satıcının qeydiyyatdan keçməsi üçün keçərlidir. Əgər həmin mobil nömrə portaldan qeydiyyatdan keçibsə  sistem bu barədə ekrana məlumat çixaracaq
</p><p class="left">
    və başqa mobil nömrənin daxil edilməsini təklif edəcək. Şəxsi kabinet aktiv edildikdən sonra bu barədə həmin nömrəyə qısa mesaj gələcək)

</p><p class="left">
    <b>Təhsil</b>  (bu  xana məcburi deyildir)
<p class="left">  <b> İŞ </b>(bu xana məcburi deyildir)</p>
<p class="left"> <img src="~/Content/Person/image7.png" />  </p>
<p class="left"> Bütün xanalar doldurulduqdan sonra<img src="~/Content/Person/image9.png" />     düyməsi basılır və İstehsalçının qeydiyyatdan keçməsi barədə ekrana mesaj gəlir.Mesajı
    </p><p class="left"> bağladıqdan sonra İstehsalçı üçün avtomatik olaraq sistemə daxil olma pəncərəsi aktiv olur.
<p class="left"> <img src="~/Content/Person/image2.png" />  </p>
<p class="left">
    İstehsalçı qeydiyyatdan keçdiyi zaman seçdiyi<b> isitfadəçi adı </b> və <b>şifrəni</b> daxil edərək şəxsi kabinetinə daxil olur. İstehsalçı şəxsi kabinetə daxil olduqdan</p><p class="left">

    sonra səhifədə 2 əsas menyu olur.<img src="~/Content/Person/image10.png" />    və potensial istehsalçının soyadı və adına uyğun (Misal:<img src="~/Content/Person/image12.png" /> )  menyusu.</p>
<p class="left"> İstehsalçı adına uyğun olan menyunun (Misal:<img src="~/Content/Person/image11.png" /> ) təsviri aşağıdakı kimidir
<p class="left"> <img src="~/Content/Person/image13.png" />  </p>
<p class="left"  style="margin-top:30px">İstehsalçı özünə  aid olan şəxsi məlumatları bu menyu vasitəsilə dəyişə bilər</p>






