
@{
    ViewBag.Title = "Index6";

}

<h1>Satınalan Təşkilatların tələbatlarının daxil edilməsi </h1>

<p>Təşkilatın istifadəçisi ona verilən istifadəçi adı və şifrə vasitəsilə portala daxil olur və ekranda təşkilatın şəxsi kabineti əks olunur.</p>

Şəxsi kabinetdə əks olunan menyuların iş prinsipi aşağıda ətraflı şəkildə izah edilmişdir.

<img src="~/Content/image/image1.png" />
<p>1. <img src="~/Content/image/image2.png" />  düyməsini basdıqda aşağıdakı forma əks olunur.</p>

<img src="~/Content/image/image3.png" />


<p>
    Təşkilat məhsul tələbatını daxil edərkən əvvəlcə edərkən əvvəlcə tələbatın göndəriləcəyi ünvanı seçir.
    Daha doğrusu tabeliyində olan təşkilatın adını siyahıdan
</p>
    <p> seçir.</p>

<img src="~/Content/image/image4.png" />




<p>Tələb ediləcək məhsulu siyahıdan seçirik və ölçü vahidini təyin edirik..</p>
<img src="~/Content/image/image5.png" />

<p>Hər bir məhsul üzrə ayrıca təchizat təqvim planı tərtib edilir.</p>
<p>Daxil ediləcək məhsulun  gələcəkdə çatdırılma qrafiki təyin edilir. Bu qrafik  gündəlik, həftəlik, aylıq, rüblük və illik təyin edilə bilər. </p>
<p> Bu qrafikdən  birini seçdikdən sonra aylar seçilir. Hər bir seçilmiş aylar üzrə ayrı-ayrılıqda məhsulun həcmi, catdırılma günü və saatı təyin edilir.</p>
<img src="~/Content/image/image6.png" />



<p>Bütün parametrlər daxil edildikdən sonra sifarişi <img style="width:175px; height:45px" src="~/Content/image/image7.png" /> düyməsi vasitəsilə əlavə edirik.</p>
<p> Təşkilat üzrə bütün sifarişləri daxil etdikdən sonra  <img src="~/Content/image/image8.png" />  düyməsi vasitəsilə daxil edilmiş bütün sifarişlərin siyahısı<img src="~/Content/image/image9.png" /> </p>
<p> formatında kompüterə yüklənilir. </p>
<p> Həmin sənəd çap edilərək rəhbərlik tərəfindən təsdiqlənir və skan edilərək həmin sənəd portal vasitəsilə sistemə daxil edilir.</p>
<img src="~/Content/image/image10.png" />

<p>İmzalanmış elektron sənəd sistemə daxil edildikdən sonra sifarişlər<img src="~/Content/image/image11.png" /> düyməsi vasitəsilə </p>
<p> Kənd Təsərrüfatı Nazirliyinə göndərilir.</p>
<p>Göndərilən tələbatlar  Kənd Təsərrüfatı Nazirliyi tərəfindən təsdiq olunana kimi <b>Tələbatlarım </b> alt menyusunda yerləşir.</p>
<p>İstifadəçi sifarişləri yerləşdirdikən sonra şəxsi kabinetə qayıtmaq üçün aşağıdakı şəkildən göründüyü kimi <b>Şəxsi Səhifə</b>  alt menyusuna basmalıdır.</p>
<img src="~/Content/image/image12.png" />



<p>2.<img src="~/Content/image/image13.png" />  menyusuna daxil olarkən aşağıdakı alt menyu əks olunur.</p>
<img src="~/Content/image/image14.png" />



<p>2.1.<b>Təsdiqlənən Tələbatlarım</b> alt menyusunda Kənd Təsərrüfatı Nazirliyinə göndərilmiş və təsdiq edilmiş tələbatların siyahısı əks olunur.</p>

<img src="~/Content/image/image15.png" />

<p>2.2.<b>Tələbatlarım </b> alt menyusunda Kənd Təsərrüfatı Nazirliyinə göndərilmiş və təsdiqi gözlənilən  tələbatların  siyahısı əks olunur.</p>
<img src="~/Content/image/image16.png" />

<p>2.3.<b>Vaxtı Bitmiş Tələbatlarım</b>  alt menyusunda sifariş edilmiş məhsulların alınma müddəti bitmiş tələbatların  siyahısı əks olunur.</p>

<p>2.4.<b>Yararsız sayılan Tələbatlarım</b>  alt menyusunda Kənd Təsərrüfatı Nazirliyi tərəfindən müəyyən səbəblərə görə imtina edilmiş tələbatların siyahısı əks olunur.</p>
<img src="~/Content/image/image17.png" />
<p>Bu alt menyuda olan sifarişə aşağıdakı düymə vasitəsilə düzəliş etmək mümkündür.</p>
<img src="~/Content/image/image18.png" />

<p style="margin-top:10px">Düzəliş etdikdən sonra həmin tələbatlar  <b>Tələbatlarım</b> alt menyusunda əks olunacaq və Kənd Təsərrüfatı Nazirliyi tərəfindən təsdiqini gözləyəcək.</p>

<p style="margin-top:10px">2.5.<b>Kənd Təsərrüfatı Nazirliyinə Göndərilməmiş Tələbatlarım</b>  alt menyusunda portala daxil edilmiş, amma təsdiq üçün Kənd Təsərrüfatı Nazirliyinə</p>
<p> göndərilməmiş tələbatlar  siyahısı əks olunur.</p>




<p style="margin-top:10px">3.<img src="~/Content/image/image19.png" />menyusuna daxil olarkən aşağıdakı alt menyu əks olunur.</p>
<img src="~/Content/image/image20.png" />


<p style="margin-top:10px">4.	<img src="~/Content/image/image21.png" />  menyusunda həmin təşkilata daxil olan alt təşkilatların siyahısı əks olunur.</pstyle="margin-top:10px">

<img src="~/Content/image/image22.png" />
<p class="eTop" style="margin-top:10px">Əgər Kənd Təsərrüfatı Nazirliyi tərəfindən sizə alt təşkilat yaratmaq səlahiyyəti veribsə, onda<img src="~/Content/image/image23.png" />   düyməsini basmaqla alt təşkilat yaratmaq olar.</p>
<p>Hər bir alt təşkilatın qarşısında olan düymələrin fəaliyyəti aşağıda əks olunmuşdur.</p>
<p> <img src="~/Content/image/image24.png" /> düyməsi vasitəsilə üzərində durulan alt təşkilatın haqqında qısa məlumat almaq mümkündür</p>
<p><img src="~/Content/image/image25.png" /> düyməsi vasitəsilə üzərində durulan alt təşkilatın məlumatlarını redaktə etmək mümkündür ( Bunun üçün Kənd Təsərrüfatı Nazirliyi tərəfindən </p>
<p>səlahiyyət verilməlidir).</p>
<p><img src="~/Content/image/image26.png" /> düyməsi vasitəsilə üzərində durulan alt təşkilatı ləğv etmək mümkündür ( Bunun üçün Kənd Təsərrüfatı Nazirliyi tərəfindən səlahiyyət verilməlidir).</p>
<p><img src="~/Content/image/image27.png" /> düyməsi vasitəsilə üzərində durulan alt təşkilatın altında da yeni bir təşkilat yaratmaq mümkündür ( Bunun üçün Kənd Təsərrüfatı Nazirliyi tərəfindən</p>
<p> səlahiyyət verilməlidir).</p>
<p>Yeni alt təşkilatın yaradılması və redaktəsi zamanı aşağıdakı xanalar doldurulmalıdır.</p>
<p><img src="~/Content/image/image28.png" /></p>



