
@{
    ViewBag.Title = "SellerSignUp";
}





<style>
    .left {
        margin-left: 20px;
    }
</style>
<h1 style="margin-top:10px">Satıcının qeydiyyatı</h1>
<p class="left">
    Qeydiyyatdan keçmək üçün sahibkar (<b>Fiziki</b>) şəxs sayta daxil olur və əsas səhifədə yerləşən menyulardan
    <img src="~/Content/imageSellerSignUp/image1.png" />   düyməsini basır və</p>
<p class="left">  aşağıdakı səhifə açılır. </p>
<p class="left"><img src="~/Content/imageSellerSignUp/image2.png"style="width:800px" /></p>
<p class="left">Burda<img src="~/Content/imageSellerSignUp/image3.png" />düyməsinə basaraq növbəti səhifəyə keçid edirik. Əvvəlcə sahibkar özünün <b> Potensial İstehsalçı</b>  və ya  <b>Satıcı</b> olduğunu
</p><p class="left"> seçir.</p>
<p class="left"><img src="~/Content/imageSellerSignUp/image4.png" /></p>

<p class="left"> Satıcı <b>Fiziki şəxs</b> və ya <b>Hüquqi Şəxs</b> olduğunu seçir.</p>
<p class="left"><img src="~/Content/imageSellerSignUp/image5.png" />
<p class="left">  Əgər satıcı Fiziki şəxsdirsə <b> “Fiziki şəxs” </b>  seçir və şəxsiyyət vəsiqəsindən <b>“FİN”</b> kodu daxil edir.</p>
<p class="left"><img src="~/Content/imageSellerSignUp/image6.png" />
<p class="left"  style="margin-top:30px"><b>  Şəkil: FİN kod</b> ( FİN kod qırmızı rənglə verilmişdir)</p>
<p class="left"><img src="~/Content/imageSellerSignUp/image7.png" />
<p class="left">
    Fiziki şəxs  seçilir və FİN kod daxil edilirək <b>“Yoxla” </b> düyməsi basılır.</p>
  <p class="left"> <b>“Yoxla” </b> düyməsi basıldıqdan sonra  İstehsalşçının məlumatları İAMAS-a qoşularaq avtomatik gətirilir.Əgər heç bir məlumat gəlməsə İstehsalçı daxil etdiyi</p>
<p class="left">  “FİN” kodu yoxlayır</p>
<p class="left"><img src="~/Content/imageSellerSignUp/image8.png" />
<p class="left"  style="margin-top:30px">
    İAMAS-dan gələn məlumatlardan əlavə <b> Satıcı</b> aşağıdakı digər məlumatları doldurur.</p>
 <p class="left">
     <b>   İstifadəçi adı</b> (bu xana məcburidir və gələcəkdə portalda şəxsi kabinetə daxil olmaq üçün istifadə edilir. İsitfadəçi adi təkrarlanmamlıdır.Əgər istifadəçi adı</p>
<p class="left">
    təkrarlanacaqsa sistem bu barədə ekrana məlumat çixaracaq və başqa istifadəçi adın daxil edilməsini təklif edəcək)
    Şifrə (bu xana məcburidir və gələcəkdə
    </p>
<p class="left">
    portalda şəxsi kabinetə girmək üçün istifadə edilir)</p>
<p class="left">
    <b>E-poçt</b> (bu xana məcburi deyildir. Əgər elektron poçtunuz varsa həmin ünvana  portal tərfindən şəxsi
</p><p class="left">
<p class="left">
    kabinetin aktiv edilməsi barədə məlumat gələcək)</p>
<p class="left">   <b> Mobil nömrə</b> (bu xana məcburidir. Mobil nömrə şəxsin özünə aid olmalıdır. Bir mobil nömrə</p>
<p class="left">
    bir satıcının qeydiyyatdan keçməsi üçün keçərlidir. Əgər həmin mobil nömrə portaldan qeydiyyatdan keçibsə  sistem bu barədə ekrana məlumat çixaracaq 
  </p><p class="left">
    və başqa mobil nömrənin daxil edilməsini təklif edəcək. Şəxsi kabinet aktiv edildikdən sonra bu barədə həmin nömrəyə qısa mesaj gələcək)
   
</p><p class="left">
        <b>Təhsil</b>  (bu  xana məcburi deyildir)
<p class="left">  <b> İŞ </b>(bu xana məcburi deyildir)</p>








