
@{
    ViewBag.Title = "Index4";
}

<style>
    .left {
        margin-left: 20px;
    }
</style>



<h1 style="margin-bottom:30px">Istehsal etdiyim məhsulu qeydiyyatdan keçirmək</h1>
    <h2 > </h2>


<p class="left">• İstehsalçı öz adını siyahıdan tapır və üzərinə klik edərək qeydiyyat bölməsinə keçir</p>
<p class="left">• Burda ondan FİN kod istənilir (əgər hüuüi şəxsdirsə VÖEN).FİN kod daxil edilir və özünə aid məlumatlar (S.A.A., qeydiyyatda olduğu ünvan, doğum</p>
<p class="left"> tarixi, cinsi) bazadan gətirilir. Bundan əlavə təhsili,vəzifəsi mobil telefon nömrəsi, elekton poçtu əlavə edilir.</b></p>
<p class="left">• Sonda da istifadəçi adı və şifrə təyin edərək təsdiq edir və qeydiyyatdan keçir. Sonrada təyin etdiyi istifadəçi adı və şifrəni daxil edərək öz şəxsi </p>
<p class="left">  kabinetinə daxil olur.</p>
<p class="left">• Şəxsi Kabinetində Məhsullarım menyusunun Təsdiqlənən istehsal məhsullarım alt menyusuna daxil olur. Bu alt menyuda Regional KTN tərəfindən bu</p>
<p class="left"> potebnsial istehsalçıya aid olan məhullar əks olunur.Hər bir məhsulun önündə Əməliiyatlar  düyməsi olur. Onun altındakı  Satışa hazırla  düyməsini basır.</p>
<p class="left">• Bundan sonra həmin məhsul haqında məlumatları daxil edir. Potensial istehsalçı həmin məhsulun təchizat  təqvim planını təyin edir. Hər bir məhsul üzrə</p>
<p class="left"> ayrıca təchizat təqvim planı tərtib edilir. Məhsul satışını  gündəlik, həftəlik, aylıq, rüblük və illik etmək olar. Bu plandan birini seçdikdən sonra aylar üzrə</p>
<p class="left">  məhsulun qiyməti, həcmi, catdırılma günü və saatı təyin edilir.</p>
<p class="left">• Bütün parametrlər daxil edildikdən sonra təsdiq edirik.</p>
<p class="left">• Həmin məhsul Təkliflər  alt menyusuna düşür. Bununla da Potensial İstehsalçı həmin məhsulu satmaq niyyətini KTN-ə bildirmiş olur və KTN-dən təsdiq</p>
<p class="left">   gözləyir.</p>
<p class="left">• Əgər Regional KTN istifadəçisi potensial istehsalçının elektron portal vasitəsilə göndərdiyi təklifi təsdiq edərsə həmin məhsul Təsdiqlənən məhsullar</p>
<p class="left"> alt menyusuna düşür.</p>
<p class="left">• Əgər Regional KTN istifadəçisi potensial istehsalçının elektron portal vasitəsilə göndərdiyi təklifdə hər hansı bir çatışmamazlıq aşkar edərsə ona İmtina</p>
<p class="left"> verir.İmtina verdikdə həmçinin imtina səbəbini də göstərir. Həmin məhsul şəxsi kabinetdə Yarasız hesab edilən məhsullar alt menyusuna düşür.</p>
<p class="left">• Potensial istehsalçı həmin məlumata düzəliş edərək yenidən  satmaq niyyətini bildirir və yenidən həmin məhsul  Təkliflər  alt meyusuna düşür və KTN</p>
<p class="left"> tərəfindən təsdiq gözləyir.</p>
<p class="left">Əgər hər hansı bir potensial istehsalçı öz adını elektron portalda  aşkar etmədikdə, o, özü fərdi qaydada Azərbaycan Respublikasının Kənd Təsərrüfatı</p>
<p class="left"> Nazirliyinə və ya Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin tabeliyində olan</p>
<p class="left"> istənilən “ASAN xidmət” mərkəzinə müraciət edə bilər. Müraciət edildiyi halda həmin istehsalçı ilə bağlı məlumatlar dərhal elektron portala əlavə edilməli</p>
<p class="left"> və müraciət edən şəxsə bu barədə məlumat verilməlidir. (<a href="http://emsal.az/">http://www.emsal.az/</a> istifadəçi: asan, şifrə:123). ASAN  xidmətdə potensial istehsalçının portala</p>
<p class="left"> daxil edilmə prosesi <a href="/Home/PersonalCabinet">buradakı</a> kimidir.</p>
