<!DOCTYPE html>
<html>

@{
    ViewBag.Title = "EMSAL";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - tedaruk.az</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <script type="text/javascript" language="javascript">
       // alert('Merhaba Dünya');//Merhaba Dünya uyarısı veriliyor
        function newDoc() {
            window.location.assign("/Home/SignUp")
        }
    </script>
    
    @*<div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="http://emsal.az" class="navbar-brand">emsal.az</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>*@



    @*<h2>Index</h2>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/Content/emsalHelp.css" rel="stylesheet" />
  
    <div class="nav-side-menu">
        <div class="brand"><a href="http://tedaruk.az/" style="color:white">tedaruk.az</a></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
               


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#"style="font-size:14px"><i class="fa fa-globe fa-lg"></i> Tədarük Kömək <span class="arrow"></span></a>
                </li>
                @* <ul class="sub-menu collapse " id="service">  *@
                <ul class="sub-menu " id="service">

                    <li data-toggle="collapse" data-target="#service1" class="collapsed">
                        <a href="#" style="font-size:14px">Qeydiyyat<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse " id="service1">
                        <li data-toggle="collapse" data-target="#service2" class="collapsed">
                            <a href="#" style="font-size:13px">Fiziki<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse " id="service2">
                            <li><a href="/Home/PotentialProducer">Potensial istehsalçı siyahisinda olan<p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px"> istehsalçı kimi</p></a></li>
                            <li><a href="/Home/SellerSignUp">Satıcının qeydiyatdan keçməsi </a></li>
                            <li><a href="/Home/PersonSignUp">Adi şəxsin qeydiyatdan keçməsi </a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#service3" class="collapsed">
                            <a href="#" style="font-size:13px">Huquqi<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse " id="service3">
                            <li><a href="/Home/LegalProducer"> Potensial istehsalçı siyahisinda olan<p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px"> istehsalçı kimi</p></a></li>
                            <li><a href="/Home/LegalSellerSignUp">Satıcının qeydiyatdan keçməsi</a></li>
                            <li><a href="/Home/LegalPersonSignUp">Müstəqil qeydiyyatdan keçən potensial<p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px"> istehsalçı</p></a></li>
                        </ul>
                    </ul>
                    <li><span style="float:left;"></span><a href="/Home/KTN"style="font-size:14px">Kənd Təsərrüfatı Nazirliyi işlərini necə <br /><p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px"> həyata keçirir?</p></a></li>
                   
                     <li ><span style="float:left; font-size:18px"></span><a href="/Home/PotentialClient"style=" font-size:14px">Potensial istehsalçılar və məhsullar</a></li>
                    <li><span style="float:left; font-size:18px"></span><a href="/Home/PlaceOrder"style="font-size:14px">Təşkilat üzrə tələbatın yerləşdirilməsi </a></li>
                    @* Qeydiyyat *@
                  

              
                    <li data-toggle="collapse" data-target="#service6" class="collapsed">
                        <a href="#" style="font-size:14px">Təklif<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse " id="service6">
                        <li data-toggle="collapse" data-target="#service4" class="collapsed">
                            <a href="#" style="font-size:13px">Fiziki<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse " id="service4">
                            <li><a href="/Home/SellerOffers">Satıcının təklifləri</a></li>
                            <li><a href="/Home/PotentialProducerOffer">Müstəqil qeydiyyatdan keçmiş potensial <p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px">istehsalçının təklifləri </p></a></li>
                            <li><a href="/Home/KTNPotensialProducer">KTN tərəfindən təsdiq edilmiş potensial <p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px"> istehsalçının təklifləri</p></a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#service5" class="collapsed">
                            <a href="#" style="font-size:13px">Huquqi<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse " id="service5">
                            <li><a href="/Home/SellerOffers">Satıcının təklifləri</a></li>
                            <li><a href="/Home/PotentialProducer"> Müstəqil qeydiyyatdan keçmiş potensial <p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px">istehsalçının təklifləri </p></a></li>
                            <li><a href="/Home/KTNPotensialProducer">KTN tərəfindən təsdiq edilmiş potensial <p style="margin-left:23px; margin-bottom:-4px;margin-top:-3px"> istehsalçının təklifləri</p></a></li>

                        </ul>
                    </ul>










              
                    </ul>
                </ul>
            
        </div>
    </div>
    <div class="container body-content  col-lg-offset-3" style="margin-top:40px">
        
     
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - tedaruk.az</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>