<!DOCTYPE html>
<html>

@{
    ViewBag.Title = "EMSAL";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - emsal.az</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="http://emsal.az" class="navbar-brand">emsal.az</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>*@

   

    @*<h2>Index</h2>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/Content/emsalHelp.css" rel="stylesheet" />
  
    <div class="nav-side-menu">
        <div class="brand"><a href="http://emsal.az/" style="color:white">emsal.az</a></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Emsal Kömək <span class="arrow"></span></a>
                </li>
                @* <ul class="sub-menu collapse " id="service">  *@
                <ul class="sub-menu " id="service">
                    <li><span style="float:left"></span><a href="/Home/ForOrder">Necə sifariş verə bilərəm?</a></li>
                    <li><span style="float:left"></span><a href="/Home/KTN">Kənd Təsərrüfatı Nazirliyi işlərini necə <br /><h6 style="margin-left:23px"> həyata keçirir?</h6></a></li>
                    <li><span style="float:left"></span><a href="/Home/PersonalCabinet">Şəxsi kabinetin yaradılması</a></li>
                    <li><span style="float:left"></span><a href="/Home/SignUp">Qeydiyatdan keçmək</a></li>
                    <li><span style="float:left"></span><a href="/Home/PotentialClient">Potensial istehsalçılar və məhsullar </a></li>
                    <li><span style="float:left"></span><a href="/Home/PlaceOrder">Necə sifariş yerləşdirə bilərəm? </a></li>
                </ul>

               
            </ul>
        </div>
    </div>
    <div class="container body-content  col-lg-offset-3" style="margin-top:40px">
        
     
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - emsal.az</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>